* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 1em;
    margin-top: 40px;
    color: #888;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #3d444a !important; /* Cambia el color de fondo al hacer hover */
}