{% extends "./index.html" %} {% block title %} Agregar Persona {% endblock %} 
{%block body %}
<div class="container mt-2 col-lg-6 col-md-8">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Agregar Nueva Persona</h2>
        <a href="/gestion_personas/" class="btn btn-primary">Volver</a>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input
                        type="text"
                        id="txtNombre"
                        name="nombre"
                        class="form-control"
                        placeholder="Nombre"
                        maxlength="45"
                        required />
                </div>
                <div class="form-group">
                    <input
                        type="number"
                        id="txtTelefono"
                        name="telefono"
                        class="form-control"
                        placeholder="Teléfono"
                        min="1000000000"
                        max="9999999999" />
                </div>
                <div class="form-group">
                    <input
                        type="number"
                        id="numEdad"
                        name="edad"
                        class="form-control"
                        placeholder="Edad"
                        min="0"
                        max="120"
                        required />
                </div>
                <div class="form-group">
                    <select
                        id="selSexo"
                        name="sexo"
                        class="form-control"
                        required>
                        <option value="" disabled selected>
                            Seleccione el sexo
                        </option>
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                        <option value="O">Otro</option>
                        <option value="N">Prefiero no responder</option>
                    </select>
                </div>
                <div class="form-group">
                    <input
                        type="number"
                        id="numAhorros"
                        name="ahorros"
                        class="form-control"
                        placeholder="Ahorros"
                        min="0"
                        step="0.01" />
                </div>
                <div class="form-group">
                    <select
                        id="selVivienda"
                        name="vivienda_residencial"
                        class="form-control">
                        <option value="" disabled selected>
                            Seleccione la vivienda
                        </option>
                        {% for vivienda in viviendas %}
                        <option value="{{ vivienda.id }}">
                            {{ vivienda.direccion }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select
                        id="selCabezaFamilia"
                        name="cabeza_de_familia"
                        class="form-control">
                        <option value="" disabled selected>
                            Seleccione una cabeza de familia
                        </option>
                        {% for persona in personas %}
                            {% if persona.cabeza_de_familia == None %}
                                <option value="{{ persona.id }}">
                                    {{ persona.nombre }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="justify-content-center form-group d-flex mt-4">
                    <button
                        type="submit"
                        class="btn btn-success btn-block text-white"
                        style="width: 200px">
                        Guardar
                    </button>
                </div>
                {% if success == True %}
                    <h2 style="color: greenyellow">Se ha guardado correctamente</h2>
                {% elif success == False %}
                    <h2 style="color: crimson">No se pudo guardar en la base de datos</h2>
                    <p>{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
