{% extends "./index.html" %} {% block title %} Agregar Evento {% endblock %} 
{% block body %}
<div class="container mt-2 col-lg-6 col-md-8">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Agregar Nuevo Evento</h2>
        <a href="/gestion_eventos/{{ municipio_id }}" class="btn btn-primary">Volver</a>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input
                        type="text"
                        id="txtNombre"
                        name="nombre"
                        class="form-control"
                        placeholder="Nombre del Evento"
                        maxlength="255"
                        required />
                </div>
                <div class="form-group">
                    <textarea
                        id="txtDescripcion"
                        name="descripcion"
                        class="form-control"
                        placeholder="Descripción"
                        maxlength="200"
                        required></textarea>
                </div>
                <div class="form-group">
                    <input
                        type="date"
                        id="fechaInicio"
                        name="fecha_inicio"
                        class="form-control"
                        placeholder="Fecha de Inicio"
                        required />
                </div>
                <div class="form-group">
                    <input
                        type="date"
                        id="fechaFin"
                        name="fecha_fin"
                        class="form-control"
                        placeholder="Fecha de Fin"
                        required />
                </div>
                <div class="form-group">
                    <input
                        type="number"
                        id="numAforo"
                        name="aforo"
                        class="form-control"
                        placeholder="Aforo"
                        min="0"
                        step="1"
                        required />
                </div>
                <div class="justify-content-center form-group d-flex mt-4">
                    <button
                        type="submit"
                        class="btn btn-success btn-block text-white"
                        style="width: 200px">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
