{% extends "./index.html" %}
{% block title %} Eventos por Municipio {% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Listado de Eventos</h2>
        <!-- botones separadps -->
        <div> 
            <a href="/gestion_municipios/" class="btn btn-primary">Volver</a>
            <a href="/agregar_evento/" class="btn btn-primary">Agregar Evento</a>
        </div>
    </div>
    <div class="table-responsive py-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="align-middle">Nombre</th>
                    <th class="align-middle">Descripción</th>
                    <th class="align-middle">Fecha Inicio</th>
                    <th class="align-middle">Fecha Fin</th>
                    <th class="align-middle">Aforo</th>
                    <th class="align-middle" colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.fecha_inicio }}</td>
                    <td>{{ evento.fecha_fin }}</td>
                    <td>{{ evento.aforo }}</td>
                    <td><a href="edit_evento/{{ evento.id }}" class="btn btn-info">Editar</a></td>
                    <td><a href="eliminarEvento/{{ evento.id }}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
