{% extends "./index.html" %}

{% block title %} Listado de Municipios {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Listado de Municipios</h2>
        <a href="/agregar_municipio/" class="btn btn-primary">Agregar Municipio</a>
    </div>
    <div class="table-responsive py-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="align-middle">Nombre</th>
                    <th class="align-middle">Área (m2)</th>
                    <th class="align-middle">Presupuesto</th>
                    <th class="align-middle">Persona Responsable</th>
                    <th class="align-middle" colspan="3">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for municipio in municipios %}
                <tr>
                    <td>{{ municipio.nombre }}</td>
                    <td>{{ municipio.area }}</td>
                    <td>{{ municipio.presupuesto }}</td>
                    <td>{{ municipio.persona.nombre }}</td>
                    <td><a href="/gestion_eventos/{{ municipio.id }}" class="btn btn-secondary">info</a></td>
                    <td><a href="edicionMunicipio/{{ municipio.id }}" class="btn btn-info">Editar</a></td>
                    <td><a href="eliminarMunicipio/{{ municipio.id }}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
